{% extends "base.html" %}
{% block content %}

    <br><br>
{% if request.user.is_authenticzted %}
    <a href="{% url 'images:create' %}">Создать</a>
{% endif %}
<br>
    {% if content_detail.user == request.user or request.user.is_superuser %}
            <a href="{% url 'images:create' %}">Создать</a><br>
   <a href="{% url 'images:iii' slug=content_detail.slug id=content_detail.id %}">Редактировать</a>

    {% endif %}
<main role="main" class="container">
    <!-- Контент -->
    <h1>{{ content_detail.title }}</h1>

    <br><br>
    {% load thumbnail %}

    {% thumbnail content_detail.image "300" as im %}

    <a href="{{ content_detail.image.url }}">
        <img src="{{ im.url }}">
    </a>

    {% endthumbnail %}
    <br><br>

    {{ content_detail.entry|safe }}
    <!-- end Контент -->
</main>
{% endblock %}