{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

    <br><br>
{% if request.user.is_authenticzted %}
    <a href="{% url 'images:create' %}">Создать</a>
{% endif %}
<br>
    {% if content_detail.user == request.user or request.user.is_superuser %}
            <a href="{% url 'images:create' %}">Создать</a><br>
   <a href="{% url 'images:iii' slug=content_detail.slug id=content_detail.id %}">Редактировать</a><br>
   <a href="{% url 'images:delete_content' slug=content_detail.slug id=content_detail.id %}">Удалить</a>

    {% endif %}
<main role="main" class="container">
    <!-- Контент -->
    <h1>{{ content_detail.title }}</h1>

    <br><br>
    {% load thumbnail %}

    {% thumbnail content_detail.image "300" as im %}

    <a href="{{ content_detail.image.url }}">
        <img src="{{ im.url }}">
    </a>

    {% endthumbnail %}
    <br><br>
 <!-- статья -->
    {{ content_detail.entry|safe }}


{% with total_likes=content_detail.users_like.count users_like=content_detail.users_like.all %}
 <div class="image-info">
                <div>


<br><hr>


 <!-- End количество просмотров -->


 <!-- likes-->
  <span class="count">
 <span class="total">{{ total_likes }}</span>
like{{ total_likes|pluralize }}
 </span>
 <!--End  likes-->

{% if request.user.is_authenticated %}


                    <a href="#" data-id="{{ content_detail.id }}" data-action="{% if request.user in users_like %}un{% endif %}like" class="like button">
                        {% if request.user not in users_like %}
                            <b>Нравится</b>
                        {% else %}
                            <b>Не нравится</b>
                        {% endif %}
                    </a>
                </div>

        </div>


{% else %}
    <br><br>
    {{ content_detail.entry|safe}}


 {% endif %}
<br><br>


        <div class="image-likes">
            {% for user in content_detail.users_like.all %}
                <div>
                {% if user.profile.photo %}
                   <img src="{{ user.profile.photo.url }}" width="60px" height="60px">
                    {% else %}
                    <img src="{% static "no_image_app_content.jpg" %}"  width="60px" height="60px">
                {% endif %}
                    <p>{{ user.first_name }}</p>
                </div>
            {% empty %}
                Пока нет лайков. Оцените первым.
            {% endfor %}
        </div>
    {% endwith %}

    <!-- end Контент -->
</main>
{% endblock %}


{% block ajax_and_jquery %}
<!--Функция JQuery -->
    // используем селектор JQuery ('a.like'), что бы найти все <a> элементы
// Используем click совершать действие, каждый раз, когда пользователь нажимает
$('a.like').click(function(e){
// используем e.preventDefault(); что бы не срабатывало везде где есть <a>
e.preventDefault();
// используем $.post что бы послать асинхронный запрос на сервер
// испольбзуем url что бы создать url Ajax
$.post('{% url "images:like" %}',
//используем наш словарь с views параметров id и action, что и ожидает наше представление.
{
// получаем значения
id: $(this).data('id'),
action: $(this).data('action')
},
function(data){
// ответ из нашего представления
if (data['status'] == 'ok')
{
//когда данные http получены далее мы укажем что делать
// и здесь же заканчиваем проверку статуса, равен ли он ok
//если равен, то делаем дальше
//функция обратного вызова
var previous_action = $('a.like').data('action');
// Если статус = ok, то Переключать действия
$('a.like').data('action', previous_action == 'like' ? 'unlike' : 'like');
// переключать тектовые ссылки, позволяет пользователю так же отменить дейтсиве
$('a.like').text(previous_action == 'like' ? 'Unlike' : 'Like');
// обновление лайков, увеличиваем или уменьшаем количество просмотров.
var previous_likes = parseInt($('span.count .total').text());
$('span.count .total').text(previous_action == 'like' ? previous_likes + 1 : previous_likes - 1);
}
});
});
        <!--Функция JQuery -->
{% endblock %}